.productItem__img--wrapper {
  position: relative;
}

.productItem__img--wrapper.hit::after,
.productItem__img--wrapper.new::after,
.productItem__img--wrapper.sale::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-color);
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 5px var(--shadow-color);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

.productItem__img--wrapper.hit::after {
  content: "Хит";
  background-color: var(--hit-color);
  color: var(--third-color);
}

.productItem__img--wrapper.new::after {
  content: "Новинка";
  background-color: var(--new-color);
  color: var(--text-color);
}

.productItem__img--wrapper.sale::after {
  content: "Акция";
  background-color: var(--sale-color);
  color: var(--text-color);
}
