.checkbox-container {
  display: flex;
  position: relative;
  align-items: center;
}

.checkbox-input {
  accent-color: var(--primary-color);
  width: 28px;
  height: 28px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.4s;
}

.checkbox-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.checkbox-input:hover {
  box-shadow: 0 4px 6px var(--shadow-color);
}
