.checkbox-container {
  display: flex;
  position: relative;
  align-items: center;
}

.checkbox-input {
  accent-color: #850a0a;
  width: 28px;
  height: 28px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.4s;
}

.checkbox-input:checked {
  background-color: #850a0a;
  border-color: #850a0a;
}

.checkbox-input:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
