/* YaMap.css */
.map-container {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  transition: background-color 0.2s ease-in-out;
}

.svg-icon {
  width: 50px;
  height: 50px;
  transition: opacity 0.3s;
  opacity: 0; /* initial state */
}

.svg-icon.visible {
  opacity: 1;
}
