.cdek-map {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin-top: 20px;
  background-color: var(--dark__text-color);
}

.order__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.order__label {
  font-size: 18px;
  color: var(--grey__dark-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.order__input {
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--third-color);
  outline: none;
  cursor: pointer;
  position: relative;
}

.order__input:checked {
  background-color: var(--primary-color);
}

.russian-post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 600px;
}

.form-input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 20px;
}

.order__info {
  display: flex;
  gap: 45px;
}

@media (max-width: 1400px) {
  .russian-post-form {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .cdek-map {
    height: 300px;
  }

  .order__wrapper {
    padding: 15px;
  }
  .russian-post-form {
    padding: 15px;
  }

  .order__label {
    font-size: 16px;
  }

  .form-input {
    font-size: 16px;
  }

  .order__info {
    flex-direction: column;
    gap: 20px;
  }
  .order__main {
    width: 100%;
  }
  .order__sum {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cdek-map {
    height: 250px;
  }

  .order__wrapper,
  .russian-post-form {
    padding: 10px;
  }

  .order__label {
    font-size: 14px;
  }

  .form-input {
    font-size: 14px;
    padding: 8px;
  }

  .order__info {
    gap: 15px;
  }
}
