.select-all-button {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #850a0a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.select-all-button:hover {
  background-color: #a30d0d;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
