.select-all-button {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--third-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: all 0.4s;
}

.select-all-button:hover {
  background-color: var(--hover-color);
  box-shadow: 0 8px 12px var(--shadow__hover-color);
}

@media (max-width: 480px) {
  .select-all-button {
    font-size: 14px;
  }
}
