.clear-all-button {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--super__ligth-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px var(--shadow-color);
  background-color: var(--third-color);
  transition: all 0.4s;
}

.clear-all-button:hover {
  box-shadow: 0 8px 12px var(--shadow__hover-color);
}
