.menu__logo--text {
  font-size: 25px;
  font-weight: 800;
  line-height: 24px;
}
.menu__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.menu__image {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.logo {
  display: flex;
  height: 75px;
  width: 77px;
  border-radius: 20%;
  flex-shrink: 0;
}
.menu__catalog {
  background-color: rgb(133, 10, 10);
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
  height: 50px;
  white-space: nowrap;
}
.menu__catalog:hover {
  background-color: rgb(165, 8, 8);
}

.menu__label {
  display: block;
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}
.menu__link {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  cursor: pointer;
}
.menu__link:hover .menu__image,
.menu__link:hover .menu__label {
  color: rgb(133, 10, 10);
}
.basket-icon {
  position: relative;
}

.basket-count {
  position: absolute;
  bottom: -8px;
  left: 37px;
  background-color: rgb(133, 10, 10);
  color: white;
  border-radius: 20%;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  min-width: 14px;
  min-height: 14px;
}
.menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 24px;
}
.menu__main {
  display: flex;
  gap: 35px;
  align-items: center;
}
.menu__actions {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1024px) {
  .menu__logo--text {
    font-size: 20px;
    line-height: 20px;
  }
  .menu__main {
    order: 1;
    gap: 25px;
  }

  .menu__actions {
    gap: 20px;
    order: 2;
  }
  /* .search-bar {
    width: 1000px;
  } */

  .search-form {
    max-width: 1000px;
    order: 3;
  }

  .menu__wrap {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .menu__logo--text {
    font-size: 18px;
    line-height: 18px;
  }

  .menu__image {
    width: 30px;
    height: 30px;
  }
}
