.order__call--button {
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  padding: 16px 30px;
  transition: 0.5s;
}

.order__button--red {
  background-color: var(--primary-color);
  color: var(--third-color);
}
.order__button--red:hover {
  background-color: var(--hover-color);
}

.order__button--white {
  background-color: var(--third-color);
  color: var(--text-color);
}
.order__button--white:hover {
  background-color: var(--third__hover-color);
}

.order__call {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .order__call--button {
    width: 100%;
    max-width: 300px;
    padding: 12px 16px;
    font-size: 16px;
  }
}
