.carousel {
  max-width: 1400px;
  margin: 0 0 20px 0;
  box-shadow: 0 10px 20px var(--shadow-color);
  border-radius: 20px;
}
.carousel-image {
  min-width: 100%;
  display: block;
  border-radius: 20px;
  object-fit: contain;
}
.custom-arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.arrow-circle {
  background-color: var(--third-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px var(--shadow__hover-color);
}
.custom-arrow-icon {
  width: 20px;
  height: 20px;
}
.custom-bottom-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  gap: 7px;
}
.custom-bottom-button {
  cursor: pointer;
  font-size: 16px;
  transition: all 0.6s ease;
}
.custom-bottom-button.active {
  color: var(--third-color);
  border-color: transparent;
}
.custom-dot {
  width: 10px;
  height: 10px;
  background-color: var(--third-color);
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
  background-color: var(--border-color);
}
.custom-bottom-button.active .custom-dot {
  background-color: var(--grey__dark-color);
}
.carousel__container {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.arrow__icon--right {
  margin-right: 20px;
}
.arrow__icon--left {
  margin-left: 20px;
}

.carousel-slide {
  height: 150px;
  width: auto;
  transition: transform 0.4s;
}
.carousel-slide:hover {
  transform: translateY(-10px) scale(1.1, 1.1);
}

@media (max-width: 768px) {
  .carousel__stocks {
    display: none;
  }
}
.carousel__images {
  box-shadow: rgba(17, 12, 46, 0.12) 0px 10px 30px 0px;
  border-radius: 10px;
  max-width: 800px;
}
