/* emptyBasket.css */

.empty__basket--img {
  display: block;
  margin: 0 auto;
  width: 150px; /* Подберите нужный размер */
  height: 150px;
}

.empty__basket--title {
  text-align: center;
  color: var(--grey__dark-color);
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
}

.empty__basket--text {
  text-align: center;
  color: var(--dark__text-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.empty__basket--button {
  margin-top: 30px;
  border: var(--text-color) solid 1px;
  border-radius: 5px;
  padding: 2px 32px;
  transition: background-color 0.2s ease-out;
}
.empty__basket--button:hover {
  background-color: var(--third__hover-color);
  border: 1px solid var(--text-color);
}
.empty__basket--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
