.item-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.item__img--wrapper {
  padding: 30px 20px 40px 20px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.item__img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;
}

.item__article {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.item__brand {
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}

.item__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

.item-details__info {
  flex: 1;
  min-width: 300px;
}

.item__details--images {
  box-shadow: rgba(17, 12, 46, 0.12) 0px 10px 30px 0px;
  border-radius: 10px;
  padding: 10px 5px 25px 5px;
}

.item-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-details p {
  margin-bottom: 15px;
}

.item-details__images img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.item__main--wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 136px;
}

.item__main--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.item__important--info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item__price {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
}

.price__new {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.price__old {
  text-decoration: line-through;
  font-size: 24px;
  color: var(--border-color);
}

.item__price--wrapper {
  display: flex;
  gap: 12px;
}

.item__details--info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item__page--text-decor {
  font-size: 24px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item__file {
  position: relative;
  margin-bottom: 10px;
  transition: 0.3s;
}

.item__file:hover .item__file--link,
.item__file:hover .item__file--link::before {
  color: var(--primary-color);
}

.item__file--link {
  position: relative;
  padding-left: 24px;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  transition: 0.3s;
  background-repeat: no-repeat;
}

.item__file--link::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 21px;
  background-image: url("./../../img/file.svg");
  background-size: contain;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.item__file--link:visited {
  color: var(--primary-color);
}

/* Медиа-запросы для адаптивности */

@media (max-width: 1200px) {
  .item__main--wrapper {
    gap: 50px;
  }

  .item__img--wrapper {
    max-width: 600px;
  }
  /* .add-to-basket {
    justify-content: flex-start;
  } */
}

@media (max-width: 992px) {
  .item-details {
    flex-direction: column;
  }

  .item__main--wrapper {
    gap: 30px;
  }

  .item__img--wrapper {
    max-width: 100%;
  }

  .item__img {
    max-width: 300px;
  }
  .item__main--info {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .item__brand,
  .item__title {
    font-size: 20px;
    line-height: 28px;
  }

  .item__price {
    font-size: 24px;
  }

  .price__new {
    font-size: 26px;
  }

  .price__old {
    font-size: 20px;
  }

  .item__page--text-decor {
    font-size: 20px;
    line-height: 28px;
  }
  .item__main--wrapper {
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .item__img {
    max-width: 250px;
  }

  .item__brand,
  .item__title {
    font-size: 18px;
    line-height: 24px;
  }

  .item__price {
    font-size: 20px;
  }

  .price__new {
    font-size: 22px;
  }

  .price__old {
    font-size: 18px;
  }

  .item__page--text-decor {
    font-size: 18px;
    line-height: 24px;
  }

  .item__file--link {
    font-size: 16px;
  }
}
