.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.no-products-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #555;
  font-size: 18px;
  padding: 20px;
}

.no-products-image {
  max-width: 200px;
  margin-bottom: 10px;
}

.no-products-text {
  font-size: 16px;
  color: #999;
}

.img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
  margin-bottom: 16px;
}
.card {
  position: relative;
  gap: 20px;
  justify-content: space-between;
  transition: 0.3s ease-in-out all;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  padding-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 20px var(--shadow-color);
  background-color: var(--third-color);
  padding: 15px 18px 15px 18px;
}
.card.hit::after,
.card.new::after,
.card.sale::after {
  content: attr(data-text);
  position: absolute;
  top: 20px;
  left: -20px;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 5px var(--shadow-color);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

.card.hit::after {
  content: "Хит";
  background-color: var(--hit-color);
  color: var(--third-color);
}

.card.new::after {
  content: "Новинка";
  background-color: var(--new-color);
  color: var(--text-color);
}

.card.sale::after {
  content: "Акция";
  background-color: var(--sale-color);
  color: var(--text-color);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px var(--shadow__hover-color);
}

.card__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card__title {
  color: var(--grey__dark-color);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 70px;
}

.card__info--main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__category {
  font-size: 0.705rem;
  color: var(--subtext-color);
  text-transform: uppercase;
  font-weight: 500;
}

.card__price--wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.card__price {
  font-size: 1.12rem;
  text-decoration: none;
  color: var(--grey__dark-color);
}

.card__price {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.card__oldprice {
  text-decoration: line-through;
  font-size: 24px;
  color: var(--border-color);
}

.card__brand {
  font-size: 0.9rem;
  color: var(--text-light);
}
.card__info--content {
  height: 180px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card__link {
  text-decoration: none;
  color: var(--text-color);
}

@media (max-width: 1200px) {
  .card {
    width: 250px;
  }
  .card__image {
    width: 180px;
    height: 180px;
  }
  .card__title {
    font-size: 1.2rem;
  }
}

@media (max-width: 640px) {
  .cards__wrapper {
    padding: 10px;
  }
  .card {
    width: 250px;
  }
  .card__image {
    width: 100%;
    height: auto;
  }
  .card__title {
    font-size: 0.8rem;
  }
  .card__info--content {
    height: 130px;
  }
  .card__price {
    font-size: 1.1rem;
  }
}

@media (max-width: 615px) {
  .card {
    width: 200px;
  }
  .card__image {
    width: 100px;
    height: auto;
  }
  .card__title {
    font-size: 0.9rem;
  }
  .card__price {
    font-size: 1rem;
  }
  .card__brand {
    font-size: 0.7rem;
  }
}
/* @media (max-width: 595px) {
  .card {
    width: 180px;
  }
} */

@media (max-width: 480px) {
  .card {
    width: 100%;
    margin: 10px 0;
    gap: 10px;
  }
  .card__image {
    width: 60%;
    height: auto;
  }
  .card__title {
    font-size: 1rem;
    height: 54px;
  }
  .card__price {
    font-size: 1.3rem;
  }
  .card__info--content {
    height: 150px;
    gap: 20px;
  }
}
