.add-to-basket {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.decrement-button {
  background-color: #850a0a;
  border-radius: 5px;
  width: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 44px;
  transition: 0.1s;
}

.increment-button {
  background-color: #850a0a;
  border-radius: 5px;
  width: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 44px;
  transition: 0.1s;
}

.decrement-button:hover {
  background-color: #6e0505;
}
.increment-button:hover {
  background-color: #6e0505;
}

.count {
  font-size: 25px;
  border: 2px solid grey;
  border-radius: 10px;
  width: 50px;
  text-align: center;
}
.add__product {
  background: #850a0a;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  width: 268px;
  height: 50px;
}
.add__product:hover {
  background-color: #6e0505;
}
.quantity-control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
