.info-specialist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.map-container {
  margin-bottom: 20px;
  box-shadow: 0 10px 20px var(--shadow-color);
  border-radius: 15px;
  width: 100%;
  max-width: 1400px;
  height: 600px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--third-color);
  border-radius: 15px;
  box-shadow: 0 10px 20px var(--shadow-color);
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px var(--shadow__hover-color);
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

.product-title {
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  color: var(--grey__dark-color);
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .product-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-image {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .info-specialist {
    flex-direction: column;
  }

  .paragraph {
    font-size: 16px;
    text-indent: 15px;
  }

  .map-container {
    height: 400px;
  }

  .product-image {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .paragraph {
    font-size: 14px;
    text-indent: 10px;
  }

  .map-container {
    height: 300px;
  }

  .product-card {
    padding: 10px;
  }

  .product-image {
    width: 150px;
    height: 150px;
  }

  .product-title {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .product-cards {
    grid-template-columns: 1fr;
  }
}
