.properties-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-background);
  box-shadow: 0 2px 5px var(--shadow-color);
}

.properties-table th,
.properties-table td {
  border: 1px solid var(--table-border);
  padding: 12px 15px;
  text-align: left;
}

.properties-table th {
  background-color: var(--table-header-background);
  font-weight: bold;
  color: var(--grey__dark-color);
  font-size: 26px;
  font-weight: 600;
}

.properties-table tr:nth-child(even) {
  background-color: var(--table-row-even);
}

.properties-table tr:hover {
  background-color: var(--table-border);
}

.properties-table td {
  color: var(--table-text);
}

@media screen and (max-width: 768px) {
  .properties-table {
    font-size: 14px;
  }

  .properties-table th,
  .properties-table td {
    padding: 8px 10px;
  }

  .properties-table th {
    font-size: 18px;
  }
}
